files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_install_fluentd.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      
      # Install Fluentd
      curl -L https://toolbelt.treasuredata.com/sh/install-amazon2-td-agent3.sh | sh

      td-agent-gem install fluent-plugin-cloudwatch-logs    

      # Configure Fluentd to send logs to Elasticsearch (replace with your Elasticsearch endpoint)
      echo '
        <source>
            @type tail
            path /var/log/nginx/access.log
            pos_file /var/log/nginx/access.pos.log
            time_format %Y-%m-%d %H:%M:%S
            tag cloudwatch.test
        </source>
        
        <match cloudwatch.test>
            @type cloudwatch_logs
            log_group_name Test
            log_stream_name localhost_test
            auto_create_stream true
            aws_key_id ENV['AWS_KEY_ID']
            aws_sec_key ENV['AWS_SECRET_KEY']
            region eu-central-1
            <buffer>
                timekey 1s
                timekey_use_utc true
                timekey_wait 1s
            </buffer>
        </match>
      ' | tee /etc/td-agent/td-agent.conf

      # Restart Fluentd service
      systemctl restart td-agent